<div class="container">
    
    <div class="jumbotron">
    <h1>2dehands</h1>
    <p>Hier kan jij jouw tweede hands artikelen te koop aanbieden.</p>
    <p>Je kan ook op zoek gaan naar voordelige koopjes.</p>
    <p>Gewoon zoeken wat je wilt een reageren ! zo simpel.</p>
    <p>Voor zoekertjes aan te bieden of te reageren moet je wel inloggen/registreren</p>
    

    </div>
    <div class="card text-center">
      <div class="card-header">
          <div class="input-group">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
              <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Zoek zoekertje">
          </div>
      </div>
      <div class="row ml-3 mr-3 mt-2 mb-4">
        <div *ngFor="let zoekertje of zoekertjes | zoekertjes : searchText" class="col-sm-4 d-flex" >
          <div class="card mt-3">
                <img class="card-img-top img-responsive" [src]="'data:image/jpg;base64,'+zoekertje.pic" height="auto" width="100%" alt="Card image cap">                
                <div class="card-block">
                    <h4 class="card-title">{{zoekertje.name}}</h4>
                    <button class="btn btn-info mb-3" [routerLink]="['/zoekertje', zoekertje._id]"><i class="fa fa-eye"></i> View More</button>                    
                  </div>
                <div class="card-footer text-muted">
                   € {{zoekertje.price}}
                  </div>
            </div>
        </div>
</div>
</div>