<form [formGroup]='user' (ngSubmit)="onSubmit()" class="form-horizontal mt-5" role="form" >
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <h2>Registreer nieuwe gebruiker</h2>
          <hr>
      </div>
  </div>
  <div class="row">
      <div class="col-md-2 field-label-responsive">
          <label for="name">Naam</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                  <input type="text" formControlName='name' class="form-control"
                           autofocus>
              </div>
          </div>
      </div>
      <div *ngIf='user.get("name").errors && user.get("name").touched'class=" col-md-4">
        <div class="alert alert-danger">
            naam is verplicht.
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-2 field-label-responsive">
          <label for="Username">Gebruikersnaam</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                  <input type="text" formControlName='username' class="form-control"
                           autofocus>
              </div>
          </div>
      </div>
      <div *ngIf='user.get("username").errors && user.get("username").touched'class=" col-md-4">
        <div class="alert alert-danger">
            Username is verplicht en max 15 tekens.
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-2 field-label-responsive">
          <label for="email">E-Mail Address</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                  <input type="text" formControlName='email' class="form-control">
              </div>
          </div>
      </div>
      <div *ngIf='user.get("email").errors && user.get("email").touched'class=" col-md-4">
        <div class="alert alert-danger">
            Email is verplicht en moet geldig zijn.
          </div>
      </div>
  </div>
  <div formGroupName='passwordGroup'>
        <div class="row">
            <div class="col-md-2 field-label-responsive">
                <label for="password">password:</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" formControlName='password' class="form-control" >
                    </div>
                </div>
            </div>
            <div *ngIf='passwordControl.errors?.passwordTooShort && passwordControl.touched'class=" col-md-4">                    
                <div class="alert alert-danger">
                     Wachtwoord te kort
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 field-label-responsive">
                <label for="password">Herhaal password:</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" formControlName='confirmPassword' class="form-control" >
                    </div>
                </div>
            </div>
            <div *ngIf='user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched && user.get("passwordGroup").get("password").touched' class=" col-md-4">
                <div class="alert alert-danger">
                    Wachtwoorden moeten hetzelfde zijn
                </div>
            </div>
        </div>
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <button type="submit" [disabled]='!user.valid' class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
      </div>
  </div>
</div>
</form>
